:root {
/* --text: #630d5f; */
--text:rgb(33, 33, 33);
--background: #cac7e5;
--primary: #cac7e5;
--secondary:#730b88;
--accent: #8f03cb;
--overlay:#c0b5ef3d;;
--text-font:"DM Sans", serif;
--headings-font:"Noto Serif", serif;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .dark-mode{
    --text:white;
    --background: #1d1a38;
    --primary: #1d1a38;
    --secondary: #8d1da3;
    --accent: #b300ff;
    --overlay:rgb(0, 0,0, 0.5); 
  }
  body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--text-font);
  }
  a{
    text-decoration: none;
  }
  /* theme-switch */
  #theme-switch{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 11;
  }
  #theme-switch svg{
    fill:var(--accent);
  }
  #theme-switch svg:last-child{
    display: none;
  }
  .dark-mode #theme-switch svg:last-child{
    display: block;
  }
  .dark-mode #theme-switch svg:first-child{
    display: none;
  }
  /* navbar */
  nav{
    border-bottom: 1px solid #3f404f;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 60px;
  }
  nav ul{
    display: flex;
    list-style: none;
  }
  nav .home-li{
    margin-right:auto;
  }
  nav a{
    display: flex;
    text-decoration: none;
    color: var(--text);
    padding: 1em 2em;
    transition: all 150ms ease;
  }
  nav a:hover{
    color: var(--accent);
  }
  nav a.active-link{
    border-bottom: 2px solid var(--accent);
  }
  #open-sidebar-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1em;
    display: none;
  }
  #open-sidebar-button svg:first-child{
    fill: var(--text);
  }
  #open-sidebar-button svg{
    fill: var(--text);
  }
  #close-sidebar-button svg{
    fill: var(--text);
  }
  #close-sidebar-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1em;
    display: none;
  }
  #overlay{
    background-color: var(--overlay);
    position: fixed;
    inset: 0;
    z-index: 5;
    display: none;
  }
  #navbar ul li a{
    height: 60px;
  }
  /* home Section */
  #hero{
    height: calc(100vh- 60px);
    padding: 2rem 4rem;
  }
  .home-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 60px - 4rem);
    width: 100%;
  }
  .img-container{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .home-img{
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 0 25px 5px var(--accent);
    transition: all 0.8s ease;
  }
  .home-img:hover{
    transform: scale(1.1);
  }
  .home-heading-1{
     font-size: 2.1rem;
  }
  .home-heading-2{
    font-size: 2.5rem;
    line-height: 1.5;
    letter-spacing:2px;
  }
  .home-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
 .colored-txt{
  color: var(--accent);
 }
 .home-btns{
  display: flex;
  gap: 25px;
 }
 .home-btn-1{
  padding: 12px 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--accent);
  transition: all 0.5s ease;
  cursor: pointer;
 }
 .home-btn-1 a{
  text-decoration: none;
  color:var(--background);
  font-weight: 500;
  font-size: 1rem;
 }
 .home-btn-2{
  padding: 12px 15px;
  border-radius: 20px;
  border: 1px solid var(--accent);
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
 }
 .home-btn-2 a{
  text-decoration: none;
  color:var(--accent);
  font-weight: 500;
  font-size: 1rem;
 }
 .home-btn-1:hover,.home-btn-2:hover{
  transform: scale(1.1);
 }
/* about section */
#about{
  height: 100vh;
  padding: 2rem 4rem;
}
.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 4rem);
  width: 100%;
}
.about-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.about-img{
  width: 350px;
  transition: all 0.8s ease;
}
.about-img:hover{
  transform: scale(1.1);
}
.about-heading{
  font-size: 2.1rem;
}
.about-txt{
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5;
}
.about-img-container{
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
/* SKILLS */
#skills{
  padding: 2rem 4rem;
  height: 100vh;
}
.skills-heading{
  font-size:2.1rem;
}
.skills-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 4rem);
  width: 100%;
}
.skills-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}
.skills-img-container{
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.skills-img{
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
}
.skills-img:hover{
  transform: scale(1.1);
}
.progress-bar{
  width:100%;
  height: 10px;
  border: 1px solid var(--accent);
}
.loader{
  height: 100%;
  background-color: var(--accent);
  width: 0%;
  transition: width 3s ease-out; 
}
/* CONTACT */
#contact{
  padding: 2rem 4rem;
}
.contact-heading{
  font-size:2.1rem;
  margin-bottom: 2rem;
}
.contact-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.contact-content{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  gap: 2rem;
}
.contact-icons{
  display: flex;
  gap: 2rem;
}
.contact-icon{
  font-size: 1.5rem;
  color: var(--accent);
  transition: all 400ms ease;
}
.contact-icon:hover{
  transform: scale(1.2);
}
.email{
  color: var(--text);
  size: 1.5rem;
  font-weight: 600;
}
.form-container{
  width: 60%;
  display: flex;
  justify-content: end;
  height: 100%;
}
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1rem;
  width: 80%;
}
.contact-form-first-row{
  display: flex;
  justify-content: stretch;
  width: 100%;
  gap: 1rem;
}
#subject,#message,#name,#email{
  width: 100%;
  background-color: #f5f5f5;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
}
#subject:focus,#message:focus,#name:focus,#email:focus{
  outline: none;
  background-color: #F4F4F4;
  border: 1px solid var(--accent);
}
.contact-txt{
  font-size: 1rem;
  text-align: justify;
}
.submit-btn{
  align-self: end;
  padding: 0.8rem;
  border: none;
  background-color: var(--accent);
  border-radius: 5px;
  color: #F4F4F4;
  cursor: pointer;
  font-size: 1rem;
}
.submit-btn:hover{
  background-color: var(--secondary);
}
/* PROJECTS */
#projects{
  padding: 2rem 4rem;
}
.projects-heading{
  font-size:2.1rem;
  margin-bottom: 2rem;
}
.cards-container {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  background:  #F9F9F9;
  justify-content: space-around;
  align-items: start;
  border-radius: 15px;
  padding: 2rem;
  border: 2px solid transparent;
}
.card:hover{
  border-color: #5773E8;
}
.card-img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.card-type{
width: fit-content;
font-size: 1rem;
background-color: #CEE9FD;
color: #6D91BC;
border-radius: 20px;
padding: 10px 15px;
}
.card-arrow{
  border-radius: 50%;
  color: #5773E8;
  border: 2px solid #5773E8;
  padding: 0.3rem;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.card-arrow:hover{
  background-color: #5773E8;
  color: #fff;
}
.card-title{
  font-size: 1.2rem;
  color: #1d1a38;
  font-weight: 600;
}
 /***************************************Media queries***********************************/
  @media (max-width:700px){
    /* NAVBAR */
    nav{
  backdrop-filter: blur(10px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
      position: fixed;
      left: -100%;
      top: 0;
      width: min(15em,100%);
      z-index: 10;
      border-right: 1px solid var(--accent);
      border-bottom: 1px solid var(--accent);
      transition: left 0.5s ease;
      height: unset;
    }
    nav.show{
      left:0;
    }
    nav ul{
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    nav .home-li{
      margin-right: unset;
    }
    #open-sidebar-button ,#close-sidebar-button{
      display: block;
    }
    #open-sidebar-button{
      position: fixed;
      top: 10px;
      left: 10px;
      height: 60px;
    }
    /* HOME */
    #hero{
      padding: 2rem 2rem;
    }
    .home-container{
      align-items: center;
    }
    .home-content{
      width: 100%;
      align-items: center;
    }
    .home-heading-1{
      font-size: 1.5rem;
    }
    .home-heading-2{
      text-align: center;
      font-size: 1.7rem;
    }
    .img-container{
      width: 100%;
    }
   .home-img{
    width: 220px;
   }
   /* ABOUT */
   #about{
    padding: 2rem 2rem;
    height: unset;
  }
  .about-container{
    align-items: center;
    gap: 40px;
    height: unset;
  }
  .about-img-container{
    width: 100%;
  }
 .about-img{
  width: 240px;
 }
.about-content{
  width: 100%;
  align-items: center;
}
.about-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-txt{
  font-size: 1.1rem;
  text-align: center;
}
/* Skills */
#skills{
  padding: 2rem 2rem;
  height: unset;
}
.skills-container{
  align-items: center;
  gap: 40px;
  height: unset;
}
.skills-img-container{
  width: 100%;
}
.skills-content{
width: 100%;
align-items: center;
}
.skills-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* contact */
#contact{
  padding: 2rem 2rem;
}
.contact-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact-container{
  gap: 2rem;
}
.contact-content{
  width: 100%;
}
.form-container{
  width: 100%;
  justify-content: center;
}
.contact-form{
  width: 100%;
}
.submit-btn{
  padding: 8px;
}
/* projects */
#projects{
  padding: 2rem;
}
.projects-heading{
  font-size:2rem;
  margin-bottom:1rem;
}
  }